[submodule "externals/methods-benchmarking"]
	path = externals/methods-benchmarking
	url = https://github.com/dekkerlab/Flagship_paper.git
[submodule "externals/GAM-analysis"]
	path = externals/GAM-analysis
	url = https://github.com/pombo-lab/WinickNg_Kukalev_Harabula_Nature_2021.git
[submodule "externals/loop-analysis"]
	path = externals/loop-analysis
	url = https://github.com/XiaoTaoWang/4DN-joint-analysis.git
